* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 550px;

  border: 1px solid linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
